# Assignment: Wrangling - Do Q2, and one of Q1 or Q3.
## Krishu Wadhwa - euj7fh
## September 23, 2024

# Question 1

<br />

**Open the "tidy_data.pdf" document in the repo, which is a paper called Tidy Data by Hadley Wickham.**

<br />

**1. Read the abstract. What is this paper about?**

<br />

This paper by Hadley Wickman looks at a way to make data cleaning easy and effective. Specificially, it looks at a small, yet important aspect of data cleaning known as data tidying. Tidy datasets are easy to manipulate, model and visualize, and they have a specific format. This format is that each variable is a column, each observation is a row, and each observational unit is a table. This makes it easier to manipulate and analyze data as only a small set of tools are needed to deal with an array of un-tidy datasets. This paper aims to highlight how using such a framework makes data management easier.

<br />

**2. Read the introduction. What is the "tidy data standard" intended to accomplish?**

<br />

The tiny data standard provides a consistent structure for organizing the data we are looking at to make it easier to analyze and work with. By following the tiny data standard, data cleaning becomes much more efficient, making it easier to solve problems rather than focus on logistics. It also aims to simplify the development of tools that work well together by standardizing how data is structured, reducing the need for data translation between tools.

<br />


**3. Read the intro to section 2. What does this sentence mean: "Like families, tidy datasets are all alike but every messy dataset is messy in its own way." What does this sentence mean: "For a given dataset, it’s usually easy to figure out what are observations and what are variables, but it is surprisingly difficult to precisely define variables and observations in general."**

<br />

The first sentence, "Like families, tidy datasets are all alike but every messy dataset is messy in its own way," probably means that tidy datasets follow a standardized structure, making them consistent, managable, and predictable. In contrast, messy datasets lack a consistent format, and messy datasets can have challenges or structural problems that make them more difficult to clean and organize. The second sentence, "For a given dataset, it’s usually easy to figure out what are observations and what are variables, but it is surprisingly difficult to precisely define variables and observations in general," probably means that while it’s often straightforward/intuitive to identify the aspects of a specific dataset (such as variables and observations), creating a consistent and standardized definition that applies across all datasets can be quite challenging. This shows how complex real-world data can be.

<br />

**4. Read Section 2.2. How does Wickham define values, variables, and observations?**

<br />

**Dataset:** "a collection of values"

<br />

**Values:** individual data points in a dataset, "usually either numbers (if quantitative) or strings (if qualitative). Every value belongs to both a variable and an observation."

<br />

**Variables:** "contain all values that measure the same underlying attribute (like height, temperature, duration) across units."

<br />

**Observations:** "contain all values measured on the same unit (like a person, or a day, or a race) across attributes.

<br />

**5. How is "Tidy Data" defined in section 2.3?**

<br />

In Section 2.3, "Tidy Data" is defined as a structured format where each variable forms a column, each observation forms a row, and each type of observational unit forms a table. If data is not organized this way and is not tidy, it is messy.

<br />

**6. Read the intro to Section 3 and Section 3.1. What are the 5 most common problems with messy datasets? Why are the data in Table 4 messy? What is "melting" a dataset?** 

<br />

The five most common problems with messy datasets are as follows. First, column headers are values, not variable names. This problem is when the column names represent actual data values, not variables. Second, multiple variables stored in one column. This is when variables are split between rows and columns, leading to inconsistencies. Third, multiple types of observational units in the same table. This is when a table holds data about different observational units that should be separated. Fourth, multiple types of observational units in the same table. This is when a table holds data about different observational units that should be separated. Fifth, single observational unit stored in multiple tables. This is when data for one unit is scattered across multiple tables, making it difficult to analyze. The data in table 4 is considered messy because the column headers represent values (problem 1) instead of variable names. This makes it difficult to analyze. Melting a dataset is when you transform a dataset where variables are spread across both rows and column into a form where each variable is represented by a column, and each observation forms a row. 

<br />

**7. Why, specifically, is table 11 messy but table 12 tidy and "molten"?**

<br />

Table 11 is messy because the days of the month are treated as separate columns rather than as values under a single "date" variable. This structure complicates the potential analysis as it spreads one observation (daily temperatures) across multiple columns. This doesn’t follow the tidy data principle where each variable should form a column. Table 12 is "molten" because the days have been melted into a single "date" variable, but it still isn't tidy since the "element" column contains variable names (tmax and tmin) instead of values. Table 12(b), however, is tidy because all the variables (date, tmax, and tmin) are organized properly in columns ensuring that each row represents a single observation with all attributes as values.

<br />

**8. Read Section 6. What is the "chicken-and-egg" problem with focusing on tidy data? What does Wickham hope happens in the future with further work on the subject of data wrangling?**

<br />

The "chicken-and-egg" problem refers to the fact that tidy data is only as useful as the tools that work with it, and tidy tools are dependent on tidy data. This creates a situation where improvements in either data structures or tools are hard to achieve without simultaneous progress in the other. Wickham hopes that further research will build on the concept of tidy data to develop better data storage strategies and tools. He suggests that progress could come from combining ideas from different fields to make data analysis easier and more effective.

<br />

# Question 2

<br />

**This question provides some practice cleaning variables which have common problems.**

<br />

**1. Numeric variable: For `./data/airbnb_hw.csv`, clean the `Price` variable as well as you can, and explain the choices you make. How many missing values do you end up with? (Hint: What happens to the formatting when a price goes over 999 dollars, say from 675 to 1,112?)**

In [74]:
# imports

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [75]:
url = 'https://raw.githubusercontent.com/kweuj7fh/DS3001-Wrangling/refs/heads/main/assignment/data/airbnb_hw.csv' # url of data
airbnb = pd.read_csv(url) # read csv from url
print(airbnb.shape, '\n') # find number of rows and cols
airbnb.head() # display first few rows of dataframe

(30478, 13)

,Host Id,Host Since,Name,Neighbourhood,Property Type,Review Scores Rating (bin),Room Type,Zipcode,Beds,Number of Records,Number Of Reviews,Price,Review Scores Rating
0,5162530,NaN,1 Bedroom in Prime Williamsburg,Brooklyn,Apartment,NaN,Entire home/apt,11249.0,1.0,1,0,145,NaN
1,33134899,NaN,"Sunny, Private room in Bushwick",Brooklyn,Apartment,NaN,Private room,11206.0,1.0,1,1,37,NaN
2,39608626,NaN,Sunny Room in Harlem,Manhattan,Apartment,NaN,Private room,10032.0,1.0,1,1,28,NaN
3,500,6/26/2008,Gorgeous 1 BR with Private Balcony,Manhattan,Apartment,NaN,Entire home/apt,10024.0,3.0,1,0,199,NaN
4,500,6/26/2008,Trendy Times Square Loft,Manhattan,Apartment,95.0,Private room,10036.0,3.0,1,39,549,96.0

In [76]:
price = airbnb['Price'] # specifically look at price variable
price.unique() # check for any outliers, formatting errors

price = price.str.replace(",", "") # replace the commas with nothing, to deal with what happens to the formatting when a price goes over 999 dollars, say from 675 to 1,112
print(price.unique(), '\n') # check if replacing commas worked

price = pd.to_numeric(price, errors='coerce') # convert values to numeric format, coerce invalid entries to NaN values
print(price.unique(), '\n') # check to make sure values are numeric

missing = sum(price.isnull()) # find total missing values
print(f"Missing values in Price column: {missing}") # print total missing values

['145' '37' '28' '199' '549' '149' '250' '90' '270' '290' '170' '59' '49'
 '68' '285' '75' '100' '150' '700' '125' '175' '40' '89' '95' '99' '499'
 '120' '79' '110' '180' '143' '230' '350' '135' '85' '60' '70' '55' '44'
 '200' '165' '115' '74' '84' '129' '50' '185' '80' '190' '140' '45' '65'
 '225' '600' '109' '1990' '73' '240' '72' '105' '155' '160' '42' '132'
 '117' '295' '280' '159' '107' '69' '239' '220' '399' '130' '375' '585'
 '275' '139' '260' '35' '133' '300' '289' '179' '98' '195' '29' '27' '39'
 '249' '192' '142' '169' '1000' '131' '138' '113' '122' '329' '101' '475'
 '238' '272' '308' '126' '235' '315' '248' '128' '56' '207' '450' '215'
 '210' '385' '445' '136' '247' '118' '77' '76' '92' '198' '205' '299'
 '222' '245' '104' '153' '349' '114' '320' '292' '226' '420' '500' '325'
 '307' '78' '265' '108' '123' '189' '32' '58' '86' '219' '800' '335' '63'
 '229' '425' '67' '87' '1200' '158' '650' '234' '310' '695' '400' '166'
 '119' '62' '168' '340' '479' '43' '395' '144' '52' '47' '529' '187' '209'
 '233' '82' '269' '163' '172' '305' '156' '550' '435' '137' '124' '48'
 '279' '330' '5000' '134' '378' '97' '277' '64' '193' '147' '186' '264'
 '30' '3000' '112' '94' '379' '57' '415' '236' '410' '214' '88' '66' '71'
 '171' '157' '545' '1500' '83' '96' '1800' '81' '188' '380' '255' '505'
 '54' '33' '174' '93' '740' '640' '1300' '440' '599' '357' '1239' '495'
 '127' '5999' '178' '348' '152' '242' '183' '253' '750' '259' '365' '273'
 '197' '397' '103' '389' '355' '559' '38' '203' '999' '141' '162' '333'
 '698' '46' '360' '895' '10' '41' '206' '281' '449' '388' '212' '102'
 '201' '2750' '4750' '432' '675' '167' '390' '298' '339' '194' '302' '211'
 '595' '191' '53' '361' '480' '8000' '4500' '459' '997' '345' '216' '218'
 '111' '735' '276' '91' '490' '850' '398' '36' '775' '267' '625' '336'
 '2500' '176' '725' '3750' '469' '106' '460' '287' '575' '227' '263' '25'
 '228' '208' '177' '880' '148' '116' '685' '470' '217' '164' '61' '645'
 '699' '405' '252' '319' '268' '419' '343' '525' '311' '840' '154' '294'
 '950' '409' '184' '257' '204' '241' '2000' '412' '121' '288' '196' '900'
 '647' '524' '1750' '309' '510' '1495' '1700' '799' '383' '372' '492'
 '327' '1999' '656' '224' '173' '875' '1170' '795' '690' '146' '465'
 '1100' '151' '274' '429' '825' '282' '256' '1111' '620' '271' '161' '51'
 '855' '579' '1174' '430' '20' '899' '649' '485' '181' '455' '4000' '243'
 '342' '590' '560' '374' '437' '232' '359' '985' '31' '244' '254' '723'
 '237' '428' '370' '34' '1400' '580' '2520' '221' '749' '1600' '2695'
 '306' '202' '680' '570' '520' '223' '2295' '213' '1065' '346' '24' '286'
 '296' '266' '26' '995' '1368' '393' '182' '635' '258' '780' '589' '347'
 '1250' '1350' '446' '3200' '1050' '1650' '1550' '975' '323' '6500' '2499'
 '1850' '2250' '715' '461' '540' '356' '439' '384' '569' '1900' '22' '785'
 '626' '830' '318' '444' '321' '401' '1499' '888' '369' '770' '386' '366'
 '344' '630' '313' '597' '262' '509' '10000' '278' '312' '789' '1195'
 '422' '21' '765' '3500' '945' '326' '3100' '2486' '3390' '1356' '2599'
 '472' '454' '328' '396' '291']

[  145    37    28   199   549   149   250    90   270   290   170    59
    49    68   285    75   100   150   700   125   175    40    89    95
    99   499   120    79   110   180   143   230   350   135    85    60
    70    55    44   200   165   115    74    84   129    50   185    80
   190   140    45    65   225   600   109  1990    73   240    72   105
   155   160    42   132   117   295   280   159   107    69   239   220
   399   130   375   585   275   139   260    35   133   300   289   179
    98   195    29    27    39   249   192   142   169  1000   131   138
   113   122   329   101   475   238   272   308   126   235   315   248
   128    56   207   450   215   210   385   445   136   247   118    77
    76    92   198   205   299   222   245   104   153   349   114   320
   292   226   420   500   325   307    78   265   108   123   189    32
    58    86   219   800   335    63   229   425    67    87  1200   158
   650   234   310   695   400   166   119    62   168   340   479    43
   395   144    52    47   529   187   209   233    82   269   163   172
   305   156   550   435   137   124    48   279   330  5000   134   378
    97   277    64   193   147   186   264    30  3000   112    94   379
    57   415   236   410   214    88    66    71   171   157   545  1500
    83    96  1800    81   188   380   255   505    54    33   174    93
   740   640  1300   440   599   357  1239   495   127  5999   178   348
   152   242   183   253   750   259   365   273   197   397   103   389
   355   559    38   203   999   141   162   333   698    46   360   895
    10    41   206   281   449   388   212   102   201  2750  4750   432
   675   167   390   298   339   194   302   211   595   191    53   361
   480  8000  4500   459   997   345   216   218   111   735   276    91
   490   850   398    36   775   267   625   336  2500   176   725  3750
   469   106   460   287   575   227   263    25   228   208   177   880
   148   116   685   470   217   164    61   645   699   405   252   319
   268   419   343   525   311   840   154   294   950   409   184   257
   204   241  2000   412   121   288   196   900   647   524  1750   309
   510  1495  1700   799   383   372   492   327  1999   656   224   173
   875  1170   795   690   146   465  1100   151   274   429   825   282
   256  1111   620   271   161    51   855   579  1174   430    20   899
   649   485   181   455  4000   243   342   590   560   374   437   232
   359   985    31   244   254   723   237   428   370    34  1400   580
  2520   221   749  1600  2695   306   202   680   570   520   223  2295
   213  1065   346    24   286   296   266    26   995  1368   393   182
   635   258   780   589   347  1250  1350   446  3200  1050  1650  1550
   975   323  6500  2499  1850  2250   715   461   540   356   439   384
   569  1900    22   785   626   830   318   444   321   401  1499   888
   369   770   386   366   344   630   313   597   262   509 10000   278
   312   789  1195   422    21   765  3500   945   326  3100  2486  3390
  1356  2599   472   454   328   396   291]

Missing values in Price column: 0

In [77]:
# replace data with cleaned values

airbnb['Price'] = price
del price

For this part, I chose to replace the commas in the price column to handle the large values, as suggested in the prompt. For example, when the price is over 999 dollars, this converts them so there are no commas (1,112 becomes 1112). This makes them easier to work with. After this, I used `pd.to_numeric()` with `errors = 'coerce'` to ensure any non-numeric values are converted to `NaN`. This makes it clean so that we can analyze the data, and the missing count helps us to know whether we are missing any crucial pieces of information, as well as data quality. According to my analysis, I ended up with no missing values.

**2. Categorical variable: For the `./data/sharks.csv` data covered in the lecture, clean the "`Type`" variable as well as you can, and explain the choices you make.**

In [78]:
url = 'https://raw.githubusercontent.com/kweuj7fh/DS3001-Wrangling/refs/heads/main/assignment/data/sharks.csv' # url of data
sharks = pd.read_csv(url) # read csv from url
print(sharks.shape, '\n') # find number of rows and cols
sharks.head() # display first few rows of dataframe

(6462, 257)

/var/folders/8k/4kz648397lv0fw3qhymwqpk00000gn/T/ipykernel_63189/405784154.py:2: DtypeWarning: Columns (10,17,18,19,20,21,24) have mixed types. Specify dtype option on import or set low_memory=False.
  sharks = pd.read_csv(url) # read csv from url

,index,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,...,Unnamed: 246,Unnamed: 247,Unnamed: 248,Unnamed: 249,Unnamed: 250,Unnamed: 251,Unnamed: 252,Unnamed: 253,Unnamed: 254,Unnamed: 255
0,0,2020.02.05,05-Feb-2020,2020.0,Unprovoked,USA,Maui,NaN,Stand-Up Paddle boarding,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2020.01.30.R,Reported 30-Jan-2020,2020.0,Provoked,BAHAMAS,Exumas,NaN,Floating,Ana Bruna Avila,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2020.01.17,17-Jan-2020,2020.0,Unprovoked,AUSTRALIA,New South Wales,Windang Beach,Surfing,Will Schroeter,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2020.01.16,16-Jan-2020,2020.0,Unprovoked,NEW ZEALAND,Southland,Oreti Beach,Surfing,Jordan King,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2020.01.13,13-Jan-2020,2020.0,Unprovoked,USA,North Carolina,"Rodanthe, Dare County",Surfing,Samuel Horne,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [79]:
type = sharks['Type'] # specifically look at type variable
type.value_counts() # get counts of each type of attack

Type
Unprovoked             4716
Provoked                593
Invalid                 552
Sea Disaster            239
Watercraft              142
Boat                    109
Boating                  92
Questionable             10
Unconfirmed               1
Unverified                1
Under investigation       1
Boatomg                   1
Name: count, dtype: int64

In [80]:
type = type.replace(['Sea Disaster', 'Boat', 'Boating', 'Boatomg', 'Watercraft'], 'Watercraft Incidents') # all water-based attacks
type = type.replace(['Invalid', 'Questionable', 'Unconfirmed', 'Unverified', 'Under investigation'], np.nan) # all uncertain attacks
type.value_counts() # get counts of each type of attack

Type
Unprovoked              4716
Provoked                 593
Watercraft Incidents     583
Name: count, dtype: int64

In [81]:
# replace data with cleaned values

sharks['Type'] = type
del type

My goal here was mainly to improve the clarity of the data. By combining "Sea Disaster", "Boat", "Boating", "Boatomg", and "Watercraft" into "Watercraft Incidents," I grouped all watercraft-related incidents under a single, more general category. Furthermore, replacing uncertain categories like "Invalid", "Questionable", "Unconfirmed", "Unverified", and "Under investigation" with `np.nan` removed ambiguous data from the analysis. This ensured that only verified and meaningful data was used. This improved the reliability of the results and also simplified the data.

**3. Dummy variable: For the pretrial data covered in the lecture, clean the `WhetherDefendantWasReleasedPretrial` variable as well as you can, and, in particular, replace missing values with `np.nan`.**

In [82]:
url = 'https://raw.githubusercontent.com/kweuj7fh/DS3001-Wrangling/refs/heads/main/pretrial_data.csv' # url of data
pretrial = pd.read_csv(url) # read csv from url
print(pretrial.shape, '\n') # find number of rows and cols
pretrial.head() # display first few rows of dataframe

/var/folders/8k/4kz648397lv0fw3qhymwqpk00000gn/T/ipykernel_63189/2811377382.py:2: DtypeWarning: Columns (2,5,6,8,80,81,82,83,84,85,109,164,165,166,167,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,271,272,273,274,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,302,303,304,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,707) have mixed types. Specify dtype option on import or set low_memory=False.
  pretrial = pd.read_csv(url) # read csv from url

(22986, 715)

,Unnamed: 0,InternalStudyID,REQ_REC#,Defendant_Sex,Defendant_Race,Defendant_BirthYear,Defendant_Age,Defendant_AgeGroup,Defendant_AgeatCurrentArrest,Defendant_AttorneyTypeAtCaseClosure,...,NewFelonySexualAssaultArrest_Disposition,Intertnalindicator_ReasonforExcludingFromFollowUpAnalysis,CriminalHistoryRecordsReturnedorCMSRecordsFoundforIndividual,DispRecordFoundforChargesinOct2017Contact_Atleast1dispfound,CrimeCommission2021ReportClassificationofDefendants,age,sex,age_nan,age_impute,bond_NA
0,0,ADI00001,1,M,W,1986,31,3,31,99,...,,4,1,0,Defendant could not be classified or tracked d...,31.0,M,False,31.0,True
1,1,ADI00007,3,M,B,1956,60,6,60,9,...,,5,1,1,Defendant Detained Entire Pre-Trial Period_Und...,60.0,M,False,60.0,True
2,2,ADI00008,4,M,W,1990,27,3,27,9,...,,5,1,1,Defendant Detained Entire Pre-Trial Period_Und...,27.0,M,False,27.0,True
3,3,CDI00036,6,M,B,1989,27,3,27,0,...,,5,1,1,Defendant Detained Entire Pre-Trial Period_Und...,27.0,M,False,27.0,True
4,4,CDI00038,7,F,W,1988,28,3,28,0,...,,0,1,1,New criminal offense punishable by incarcerati...,28.0,F,False,28.0,True

In [83]:
released = pretrial['released'] # in pretrial_data.csv, "WhetherDefendantWasReleasedPretrial" is listed as "released"
print(released.unique())
print(released.value_counts())

[9 0 1]
released
1    19154
0     3801
9       31
Name: count, dtype: int64

In [84]:
released = released.replace(9, np.nan) # 9's unclear in codebook, replace with NaN
print(released.value_counts(),'\n')
missing = sum(released.isnull()) # find total missing values
print(f"Missing values: {missing}") # print total missing values

released
1.0    19154
0.0     3801
Name: count, dtype: int64

Missing values: 31

In [85]:
# replace data with cleaned values

pretrial['released'] = released
del released

The way I cleaned the "`WhetherDefendantWasReleasedPretrial`" variable (listed as "`released`" in `pretrial_data.csv`) was by addressing any missing values. Replacing missing and invalid entries (code '9' was listed as unclear in the codebook) helped ensure the dataset is more accurate and reflects unknown/missing/wrong release statuses.

**4. Missing values, not at random: For the pretrial data covered in the lecture, clean the `ImposedSentenceAllChargeInContactEvent` variable as well as you can, and explain the choices you make. (Hint: Look at the `SentenceTypeAllChargesAtConvictionInContactEvent` variable.)**

In [91]:
length = pretrial['ImposedSentenceAllChargeInContactEvent']
print(length.unique(),'\n')

[' ' '60' '12' '.985626283367556' '36' '6' '24' '5.91375770020534' '120'
 '72' '11.9917864476386' '0' '2.95687885010267' '84' '108' '300' '240'
 '180' '4' '96' '2' '54' '.328542094455852' '44' '5' '115' '132' '48'
 '258' '34' '76' '.164271047227926' '.131416837782341' '111' '9' '3'
 '1.97125256673511' '36.9856262833676' '.0657084188911704'
 '35.4928131416838' '106.492813141684' '8' '35' '18.3141683778234' '480'
 '32' '93' '234' '732' '1.16427104722793' '4.6570841889117' '21' '7'
 '4.49281314168378' '18' '600' '43.1642710472279' '179' '52' '30' '20'
 '192' '702' '14' '55' '53' '11.9055441478439' '114' '35.0061601642711'
 '68' '.657084188911704' '46.6242299794661' '102' '65' '200' '57'
 '24.3285420944559' '12.1642710472279' '117' '81.4928131416838'
 '22.4928131416838' '1980' '3.6570841889117' '56' '10' '2.79260780287474'
 '1' '47' '22' '1500' '40' '284' '11' '118' '42' '162' '156'
 '47.2956878850103' '105' '51' '246' '29' '75' '324' '360'
 '34.4804928131417' '120.328542094456' '59.9260780287474' '66'
 '59.9917864476386' '660' '51.1642710472279' '14.9568788501027'
 '3.98562628336756' '78' '228' '1.47843942505133' '62' '4.8' '86' '168'
 '23' '33' '48.0328542094456' '720' '348' '1200' '27' '49' '87' '420' '63'
 '79.9260780287474' '57.0349075975359' '49.9712525667351'
 '59.4928131416838' '17' '238.492813141684' '60.9856262833676' '126' '45'
 '158' '216' '227' '42.9568788501027' '445' '70.952772073922' '516'
 '177.82135523614' '1752' '90' '1080' '141' '4.82956878850103' '230' '31'
 '2208' '52.5133470225873' '69' '26' '33.4928131416838' '140' '131' '344'
 '219' '101' '71' '59' '58' '120.197125256674' '67' '35.4004106776181'
 '3.28542094455852' '40.1642710472279' '91' '1.7741273100616' '155'
 '34.4928131416838' '81' '92.3285420944559' '3.5482546201232' '207' '74'
 '518' '28' '8.95687885010267' '237' '404.673511293634' '18.1642710472279'
 '10.7433264887064' '551' '39' '15' '124' '43' '176' '19.4928131416838'
 '482' '129' '88' '46' '45.8542094455852' '128.628336755647'
 '136.492813141684' '108.328542094456' '50' '363.663244353183' '288' '250'
 '107' '81.0225872689938' '444' '205' '10.6570841889117' '19'
 '66.9856262833676' '38.4928131416838' '264' '276' '173' '222' '144' '294'
 '336' '431' '450' '73' '99.3285420944559' '128' '30.8069815195072'
 '31.5256673511294' '127' '202' '55.3285420944559' '89' '242'
 '1.31416837782341' '1029' '.788501026694045' '194.858316221766' '399'
 '39.6570841889117' '56.95687885' '198' '120.985626283368'
 '47.6570841889117' '148' '6.8993839835729' '65.3285420944559'
 '5.95277207392197' '.0985626283367557' '3.32854209445585'
 '3.94250513347023' '12.9856262833676' '6.98562628336756'
 '13.1498973305955' '15.1642710472279' '17.1971252566735'
 '17.9137577002053' '104' '212' '24.6570841889117' '72.6570841889117'
 '2.98562628336756' '144.985626283368' '31.9712525667351' '183'
 '4.98562628336756' '11.8213552361396' '252' '12.394250513347'
 '42.4928131416838' '10.1642710472279' '11.1642710472279'
 '5.49281314168378' '59.6632443531827' '12.3285420944559'
 '48.9856262833676' '240.985626283368' '2.6570841889117' '540'
 '2.97125256673511' '6.32854209445585' '23.6632443531828'
 '133.657084188912' '35.3285420944559' '456' '103' '1.72279260780287'
 '12.6570841889117' '11.6570841889117' '60.3285420944559'
 '3.78850102669405' '576' '2.13141683778234' '492' '14.9856262833676'
 '24.9856262833676' '61.9712525667351' '5.6570841889117' '16'
 '42.1642710472279' '.492813141683778' '138' '13.3141683778234'
 '11.8932238193018' '5.32854209445585' '95' '62.6570841889117'
 '3.08829568788501' '11.8275154004107' '1.64271047227926'
 '47.9917864476386' '4.27104722792608' '8.32854209445585'
 '3.31416837782341' '70' '77' '1.09856262833676' '48.1642710472279'
 '27.4928131416838' '6.93839835728953' '1011' '.68993839835729'
 '1.1170431211499' '1.49281314168378' '4.16427104722793'
 '1.19712525667351' '4.07392197125257' '188' '11.3285420944559'
 '.0328542094455852' '432' '11.952772073922' '36.4928131416838'
 '23.9835728952772' '9.98562628336756' '98' '36.3285420944559' '112'
 '.394250513347023' '13' '.262833675564682' '13.7987679671458'
 '5.8870636550308' '354' '5.91991786447639' '24.1642710472279'
 '62.95687885' '4.59958932238193' '123' '2.32854209445585'
 '23.9240246406571' '204' '197' '174' '16.1498973305955' '840' '440'
 '98.95687885' '17.952772073922' '63.9425051334702' '60.1314168377823'
 '12.1314168377823' '172.952772073922' '.197125256673511'
 '138.164271047228' '4.92813141683778' '.919917864476386'
 '18.9856262833676' '6.6570841889117' '2.85420944558522'
 '8.91375770020534' '146' '12.4928131416838' '.558521560574949'
 '.722792607802875' '5.82135523613963' '84.9856262833676'
 '6.16427104722793' '15.9856262833676' '64.5585215605749'
 '38.299794661191' '11.958932238193' '3.1211498973306' '126.328542094456'
 '5.16427104722793' '64' '42.6570841889117' '312' '19.9712525667351'
 '82.3285420944559' '23.9712525667351' '17.6242299794661'
 '121.971252566735' '59.6550308008214' '1.32854209445585'
 '7.97125256673511' '1.91991786447639' '.525667351129363'
 '9.32854209445585' '42.9856262833676' '41.9137577002053'
 '72.9856262833676' '12.4784394250513' '5.19096509240246' '473'
 '16.6570841889117' '109' '86.3285420944559' '41' '1.90554414784394'
 '94.1642710472279' '302' '4.39425051334702' '10.8213552361396'
 '18.3285420944559' '154' '83' '110.956878850103' '226' '96.0328542094456'
 '4.82135523613963' '30.3285420944559' '37.9712525667351'
 '50.4640657084189' '286' '99' '99.4928131416838' '2.6611909650924'
 '70.9712525667351' '13.9712525667351' '23.6570841889117'
 '.459958932238193' '132.492813141684' '283' '49.3141683778234'
 '27.9856262833676' '38' '7.6570841889117' '83.6550308008214'
 '10.9199178644764' '162.328542094456' '37' '132.328542094456'
 '35.952772073922' '165' '10.9856262833676' '20.1642710472279'
 '2.59137577002053' '175' '180.985626283368' '10.3285420944559'
 '36.1642710472279' '120.657084188912' '232' '152' '8.98562628336756'
 '167' '11.0657084188912' '11.2032854209446' '5.19712525667351'
 '3.16427104722793' '60.1642710472279' '1.18275154004107'
 '21.1642710472279' '2.19712525667351' '4.19712525667351'
 '2.62833675564682' '119.952772073922' '119.958932238193'
 '9.49281314168378' '5.25667351129363' '15.3285420944559'
 '2.82135523613963' '192.985626283368' '48.6570841889117'
 '5.95687885010267' '2.29979466119097' '960' '2.36550308008214' '116'
 '19.5133470225873' '1.6570841889117']

SentenceTypeAllChargesAtConvictionInContactEvent
4    8779
0    8720
1    4299
2     914
9     274
Name: count, dtype: int64

In [92]:
type = pretrial['SentenceTypeAllChargesAtConvictionInContactEvent']
print(type.value_counts(),'\n')

SentenceTypeAllChargesAtConvictionInContactEvent
4    8779
0    8720
1    4299
2     914
9     274
Name: count, dtype: int64

In [93]:
length = pd.to_numeric(length, errors = 'coerce')
length_missing = sum(length.isnull())
print(length_missing, '\n')

9053

In [95]:
length_na = length.isnull()
print(pd.crosstab(length_na, type), '\n')

SentenceTypeAllChargesAtConvictionInContactEvent     0     1    2     4    9
ImposedSentenceAllChargeInContactEvent
False                                             8720  4299  914     0    0
True                                                 0     0    0  8779  274

In [97]:
length = length.mask(type == 4, 0) # length is 0 when type is 4 (charges dismissed)
length = length.mask(type == 9, np.nan) # length is replaced with np.nan when type is 9 (unclear)

length_na = length.isnull()
print(pd.crosstab(length_na, type), '\n')

length_missing = sum(length.isnull())
print(length_missing, '\n') # number of missing went from 9053 to 274, successful

SentenceTypeAllChargesAtConvictionInContactEvent     0     1    2     4    9
ImposedSentenceAllChargeInContactEvent
False                                             8720  4299  914  8779    0
True                                                 0     0    0     0  274

274

In this process, I first converted the `ImposedSentenceAllChargeInContactEvent` variable to numeric, coercing non-numeric values to `NaN` to standardize the data and handle missing values. Using the `SentenceTypeAllChargesAtConvictionInContactEvent` variable as guidance, I replaced length with 0 for cases where the charges were dismissed (type 4), since no sentence is applicable, and I set length to `NaN` for unclear cases (type 9). This significantly reduced the number of missing values, improving data quality and making the dataset more reliable and even usable for further analysis.